<%= provide :title, t("static_page.contact.title") %>
<h1><%= t "static_page.contact.title" %></h1>
<p>
  <%= t "static_page.contact.para1" %>
  <%= link_to t("static_page.contact.para2"), Settings.contact.link1 %>
</p>
