<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_page.home.para1"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_page.home.title"), root_path %></li>
        <li><%= link_to t("static_page.help.title"), help_path %></li>
        <li><%= link_to t("static_page.login.para1"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
